<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-v32y{background-color:#ffffff;border-color:#ffffff;color:#96fffb;font-size:15px;font-weight:bold;text-align:center;
  vertical-align:top}
.tg .tg-9dj7{border-color:#ffffff;color:#FFBDB9;font-size:15px;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-zv4m{border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-f6n7{background-color:#FFFC9E;border-color:#ffffff;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-8jgo{border-color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-33ez{background-color:#bffffd;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-d2d2{border-color:#ffffff;font-size:16px;text-align:center;vertical-align:top}
.tg .tg-ggsd{background-color:#BFFFFD;border-color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-6y03{border-color:#ffffff;color:#ffbdb9;font-size:15px;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-i0w3{background-color:#bffffd;border-color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-zr3p{background-color:#BFFFFD;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-8foh{background-color:#ffccc9;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-ctan{background-color:#FFCCC9;border-color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-tyyp{background-color:#FFCCC9;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-rjfw{background-color:#FFF;border-color:#ffffff;color:#96FFFB;font-size:15px;font-weight:bold;text-align:center;
  vertical-align:top}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 903px"; align = "center">
<colgroup>
<col style="width: 88px">
<col style="width: 60px">
<col style="width: 50px">
<col style="width: 22px">
<col style="width: 88px">
<col style="width: 60px">
<col style="width: 50px">
<col style="width: 55px">
<col style="width: 90px">
<col style="width: 60px">
<col style="width: 50px">
<col style="width: 22px">
<col style="width: 90px">
<col style="width: 60px">
<col style="width: 50px">
</colgroup>
<thead>
  <tr>
    <th class="tg-d2d2" colspan="7">Clustering of <span style="font-weight:bold">active </span>actions of movie characters</th>
    <th class="tg-zv4m"></th>
    <th class="tg-d2d2" colspan="7">Clustering of <span style="font-weight:bold">passive </span>actions of movie characters</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-f6n7">Cluster</td>
    <td class="tg-f6n7"># verbs</td>
    <td class="tg-f6n7">score</td>
    <td class="tg-zv4m"></td>
    <td class="tg-f6n7">Cluster</td>
    <td class="tg-f6n7"># verbs</td>
    <td class="tg-f6n7">score</td>
    <td class="tg-zv4m"></td>
    <td class="tg-f6n7">Cluster</td>
    <td class="tg-f6n7"># verbs</td>
    <td class="tg-f6n7">score</td>
    <td class="tg-zv4m"></td>
    <td class="tg-f6n7">Cluster</td>
    <td class="tg-f6n7"># verbs</td>
    <td class="tg-f6n7">score</td>
  </tr>
  <tr>
    <td class="tg-33ez">Violence</td>
    <td class="tg-i0w3">10</td>
    <td class="tg-i0w3">468</td>
    <td class="tg-zv4m"></td>
    <td class="tg-zv4m">Violence</td>
    <td class="tg-8jgo">7</td>
    <td class="tg-8jgo">291</td>
    <td class="tg-zv4m"></td>
    <td class="tg-zr3p">Violence</td>
    <td class="tg-ggsd">30</td>
    <td class="tg-ggsd">1527</td>
    <td class="tg-zv4m"></td>
    <td class="tg-zv4m">Violence</td>
    <td class="tg-8jgo">27</td>
    <td class="tg-8jgo">1293</td>
  </tr>
  <tr>
    <td class="tg-zv4m">Love</td>
    <td class="tg-8jgo">3</td>
    <td class="tg-8jgo">136</td>
    <td class="tg-zv4m"></td>
    <td class="tg-8foh">Love</td>
    <td class="tg-ctan">6</td>
    <td class="tg-ctan">323</td>
    <td class="tg-zv4m"></td>
    <td class="tg-zv4m">Love</td>
    <td class="tg-8jgo">6</td>
    <td class="tg-8jgo">140</td>
    <td class="tg-zv4m"></td>
    <td class="tg-tyyp">Love</td>
    <td class="tg-ctan">7</td>
    <td class="tg-ctan">338</td>
  </tr>
  <tr>
    <td class="tg-33ez">Power</td>
    <td class="tg-i0w3">15</td>
    <td class="tg-i0w3">732</td>
    <td class="tg-zv4m"></td>
    <td class="tg-zv4m">Power</td>
    <td class="tg-8jgo">10</td>
    <td class="tg-8jgo">534</td>
    <td class="tg-zv4m"></td>
    <td class="tg-zr3p">Power</td>
    <td class="tg-ggsd">17</td>
    <td class="tg-ggsd">935</td>
    <td class="tg-zv4m"></td>
    <td class="tg-zv4m">Power</td>
    <td class="tg-8jgo">16</td>
    <td class="tg-8jgo">791</td>
  </tr>
  <tr>
    <td class="tg-v32y" colspan="3">Male</td>
    <td class="tg-zv4m"></td>
    <td class="tg-6y03" colspan="3">Female</td>
    <td class="tg-zv4m"></td>
    <td class="tg-rjfw" colspan="3">Male</td>
    <td class="tg-zv4m"></td>
    <td class="tg-9dj7" colspan="3">Female</td>
  </tr>
</tbody>
</table>