<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-v32y{background-color:#ffffff;border-color:#ffffff;color:#96fffb;font-size:15px;font-weight:bold;text-align:center;
  vertical-align:top}
.tg .tg-xc01{background-color:#bffffd;border-color:#ffffff;color:#333333;text-align:center;vertical-align:top}
.tg .tg-wk8r{background-color:#ffffff;border-color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-8oi7{background-color:#bffffd;border-color:#ffffff;color:#333333;text-align:left;vertical-align:top}
.tg .tg-7jyu{background-color:#fffc9e;border-color:#ffffff;color:#333333;text-align:left;vertical-align:top}
.tg .tg-d5a7{background-color:#ffffff;border-color:#ffffff;color:#333333;text-align:center;vertical-align:top}
.tg .tg-y0lf{background-color:#fffc9e;border-color:#ffffff;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-838v{background-color:#ffffff;border-color:#ffffff;color:#333333;font-size:16px;text-align:center;vertical-align:top}
.tg .tg-fbeb{background-color:#ffffff;border-color:#ffffff;color:#333333;text-align:left;vertical-align:top}
.tg .tg-oygp{background-color:#fffc9e;border-color:#ffffff;color:#333333;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-0gnx{background-color:#ffccc9;border-color:#ffffff;color:#333333;text-align:left;vertical-align:top}
.tg .tg-s6ln{background-color:#ffccc9;border-color:#ffffff;color:#333333;text-align:center;vertical-align:top}
.tg .tg-f8tr{background-color:#ffccc9;border-color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-85vv{background-color:#ffffff;border-color:#ffffff;color:#ffb2ae;font-size:15px;font-weight:bold;text-align:center;
  vertical-align:top}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 903px"; align = "center">
<colgroup>
<col style="width: 88px">
<col style="width: 60px">
<col style="width: 50px">
<col style="width: 22px">
<col style="width: 88px">
<col style="width: 60px">
<col style="width: 50px">
<col style="width: 55px">
<col style="width: 88px">
<col style="width: 60px">
<col style="width: 50px">
<col style="width: 22px">
<col style="width: 88px">
<col style="width: 60px">
<col style="width: 50px">
</colgroup>
<thead>
  <tr>
    <th class="tg-838v" colspan="7">Clustering of <span style="font-weight:bold">active </span>actions of movie characters</th>
    <th class="tg-fbeb"></th>
    <th class="tg-838v" colspan="7">Clustering of <span style="font-weight:bold">passive </span>actions of movie characters</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-oygp">Cluster</td>
    <td class="tg-oygp"># verbs</td>
    <td class="tg-oygp">score</td>
    <td class="tg-7jyu"></td>
    <td class="tg-oygp">Cluster</td>
    <td class="tg-oygp"># verbs</td>
    <td class="tg-oygp">score</td>
    <td class="tg-fbeb"></td>
    <td class="tg-oygp">Cluster</td>
    <td class="tg-oygp"># verbs</td>
    <td class="tg-oygp">score</td>
    <td class="tg-7jyu"></td>
    <td class="tg-oygp">Cluster</td>
    <td class="tg-y0lf"># verbs</td>
    <td class="tg-y0lf">score</td>
  </tr>
  <tr>
    <td class="tg-8oi7">Violence</td>
    <td class="tg-xc01">10</td>
    <td class="tg-xc01">468</td>
    <td class="tg-fbeb"></td>
    <td class="tg-fbeb">Violence</td>
    <td class="tg-d5a7">7</td>
    <td class="tg-d5a7">291</td>
    <td class="tg-fbeb"></td>
    <td class="tg-8oi7">Violence</td>
    <td class="tg-xc01">30</td>
    <td class="tg-xc01">1527</td>
    <td class="tg-fbeb"></td>
    <td class="tg-fbeb">Violence</td>
    <td class="tg-wk8r">27</td>
    <td class="tg-wk8r">1293</td>
  </tr>
  <tr>
    <td class="tg-fbeb">Love</td>
    <td class="tg-d5a7">3</td>
    <td class="tg-d5a7">136</td>
    <td class="tg-fbeb"></td>
    <td class="tg-0gnx">Love</td>
    <td class="tg-s6ln">6</td>
    <td class="tg-s6ln">323</td>
    <td class="tg-fbeb"></td>
    <td class="tg-fbeb">Love</td>
    <td class="tg-d5a7">6</td>
    <td class="tg-d5a7">140</td>
    <td class="tg-fbeb"></td>
    <td class="tg-0gnx">Love</td>
    <td class="tg-f8tr">7</td>
    <td class="tg-f8tr">338</td>
  </tr>
  <tr>
    <td class="tg-8oi7">Power</td>
    <td class="tg-xc01">15</td>
    <td class="tg-xc01">732</td>
    <td class="tg-fbeb"></td>
    <td class="tg-fbeb">Power</td>
    <td class="tg-d5a7">10</td>
    <td class="tg-d5a7">534</td>
    <td class="tg-fbeb"></td>
    <td class="tg-8oi7">Power</td>
    <td class="tg-xc01">17</td>
    <td class="tg-xc01">935</td>
    <td class="tg-fbeb"></td>
    <td class="tg-fbeb">Power</td>
    <td class="tg-wk8r">16</td>
    <td class="tg-wk8r">791</td>
  </tr>
  <tr>
    <td class="tg-v32y" colspan="3">Male</td>
    <td class="tg-fbeb"></td>
    <td class="tg-85vv" colspan="3">Female</td>
    <td class="tg-fbeb"></td>
    <td class="tg-v32y" colspan="3">Male</td>
    <td class="tg-fbeb"></td>
    <td class="tg-85vv" colspan="3">Female</td>
  </tr>
</tbody>
</table>