<div class="bg is-size-1">Scroll down</div>
<nav style="background-color: #00d1b2; color: #ffffff; padding-left: 55px; padding-right: 55px"; class="level">
  <div class="level-item has-text-centered">
    <div>
      <p>Movies</p>
      <p>434554</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p>F</p>
      <p>876565</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p>M</p>
      <p>98475</p>
    </div>
  </div>
</nav>
<div class="bg is-size-1">Scroll up</div>