<!-- Data Analysis -->
<section class="page-section" id="analysis">
	<div style="padding-left: 55px; padding-right: 55px"; align="justify"; class="container">
		<center>
		<h1 style= "padding-bottom: 10px"> 📊 <b>Data Analysis </b></h1>
		<h4 align="justify">  <b>Are female characters in CMU metadata mentioned also in the movie plots? </b> </h4>
		<p style="padding-left: 55px; padding-right: 55px"; align="justify"> Previously, we noticed that the fraction of female characters in movie metadata is much smaller compared to the fraction of male characters. Despite there seems to be an increase of the fraction of female characters between the 70s and 2010, this difference was still around 35% in 2010. <br>
We thus aimed to analyze if this difference is also present in the movie plots. Indeed, a character may be present in the list of all characters of a movie, nevertheless this does not mean that the character is also mentioned in the summary of the movie. It could be possible that a female character might be listed in the movie characters but might not appear in the plot. 
As we can observe below, the fraction of female characters mentioned in the analyzed plots is around 35%. This shows and confirms what we claimed above in the glimpse of data section. Indeed, an inequality between mentions of female and male characters in the plots exists. In addition, it can be noticed no statistically significant difference  between the 40s and 2010. 
Therefore, a difference in mentions between female and male characters exists and this difference also confirms the minor amount of female characters in all films. 
 </p>
		{% include mentions_decade.html %}
		{% include activeness_decade.html %}
		<p style="padding-left: 55px; padding-right: 55px"; align="justify"> Comment both graphs </p>
		</center>
	</div>
</section>
<!-- End Data Analysis -->
