<!-- Data Analysis -->
<section class="page-section" id="analysis">
	<div style="padding-left: 55px; padding-right: 55px"; align="justify"; class="container">
		<center>
		<h1 style= "padding-bottom: 10px"> 📊Data Analysis </h1>
		<p style="padding-left: 55px; padding-right: 55px"; align="justify"> blablabla... </p>
		{% include mentions_decade.html %}
		{% include activeness_score.html %}
		<p style="padding-left: 55px; padding-right: 55px"; align="justify"> Insert Evolution of activeness through time </p>
		</center>
	</div>
</section>
<!-- End Data Analysis -->
