<!-- A glimpse of our data... -->
<section class="page-section" id="glimpse">
	<div style="padding-left: 55px; padding-right: 55px"; align="justify"; class="container">
		<center>
		<h1 style= "padding-bottom: 10px"> 🔎 A glimpse of our data... </h1>
		<p style="padding-left: 55px; padding-right: 55px"; align="justify"> blablabla </p>
		{% include evolution_fraction_overall.html %}
		{% include top10genres_barplot.html %}
		</center>
	</div>
</section>
<!-- End A glimpse of our data... -->
