<!-- Story example-->
<section class="page-section" id="story-ex">
	<div class="container">
		<div class="row">
			<center>
			<h1 style= "padding-bottom: 10px"> Story Example</h1>
			<p style="padding:70px"; align="justify"> Here is an example of story: <br> <br> <em> "Once upon a time, there lived a young prince called Flynn Rider. He was known by all to be kind, caring, and handsome. However, on one fateful day, his step-brother Cyrus consumed by jealousy decided to imprison him in a high tower far far away from the family kingdom. Research go on for weeks without success: the prince has vanished. Rapunzel, an ADAventurer from a small hamlet at the border of the kingdom, likes to explore the deep forests with her chameleon Pascal. On one of her wanders, she discovers the high tower where dear Flynn is kept captive. Sensing a human presence in the tower, Pascal rushed to the top where he encountered Flynn. The chameleon highly squeaked due to his surprise which worried Rapunzel who joined him at the top by using her long hair as a rope and saved Flynn. She then denounced Cyrus and his atrocious behaviour who is sentenced to jail."</em> </p>
			{% include story_table_better.html %}
	      		{% include legend_table3.html %}
			<p><br> Above are the tables containing the extracted active and passive verbs and the number of mentions of each character. The first table is what the NLP process yields and the second one corresponds to what a human would extract. We can observe that the two tables are almost identical, only a few verbs (indicated by colours) are different which asssures that the extraction is well done by our algorithm. Additionnaly, one can see that the missing/misplaced verbs are mostly present in difficult sentences&#39; structures.</p>
			</center>
		</div>
	</div>
</section>
<!-- End Story example-->
