<style type="text/css">
.tg  {border-collapse:collapse;border-color:#000000;border-spacing:0;border-style:solid;border-width:1px;}
.tg td{background-color:#e8edff;border-color:#aabcfe;border-style:solid;border-width:0px;color:#669;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#b9c9fe;border-color:#aabcfe;border-style:solid;border-width:0px;color:#039;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-bbnx{background-color:#ffffff;border-color:#000000;color:#343434;font-weight:bold;text-align:center;vertical-align:middle}
.tg .tg-veog{background-color:#FFCC67;border-color:#000000;color:#663234;font-style:italic;font-weight:bold;text-align:left;
  vertical-align:top}
.tg .tg-zsny{background-color:#ffffff;border-color:#000000;color:#343434;text-align:center;vertical-align:middle}
.tg .tg-bvxb{background-color:#ffffff;border-color:#000000;color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-n5df{background-color:#ffffff;border-color:#000000;color:#343434;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-9ak0{background-color:#ffffff;border-color:#000000;color:#333333;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-pf68{background-color:#ffcc67;border-color:#000000;color:#663234;font-style:italic;font-weight:bold;text-align:left;
  vertical-align:top}
.tg .tg-ojok{background-color:#ffcc67;border-color:#000000;text-align:center;vertical-align:top}
.tg .tg-trlr{background-color:#ffffff;border-color:#000000;color:#333333;text-align:center;vertical-align:middle}
.tg .tg-2qwx{background-color:#ffffff;border-color:#000000;color:#333333;text-align:center;vertical-align:top}
</style>
<table class="tg" align ="center" style="undefined;table-layout: fixed; width: 791px">
<colgroup>
<col style="width: 161px">
<col style="width: 114px">
<col style="width: 94px">
<col style="width: 161px">
<col style="width: 172px">
<col style="width: 89px">
</colgroup>
<thead>
  <tr>
    <th class="tg-pf68">NLP Process</th>
    <th class="tg-ojok"></th>
    <th class="tg-ojok"></th>
    <th class="tg-ojok"></th>
    <th class="tg-ojok"></th>
    <th class="tg-ojok"></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-n5df">Name</td>
    <td class="tg-n5df">Mentions</td>
    <td class="tg-n5df">Gender</td>
    <td class="tg-n5df">Active</td>
    <td class="tg-n5df">Passive</td>
    <td class="tg-n5df">Activeness</td>
  </tr>
  <tr>
    <td class="tg-bbnx">Flynn Rider</td>
    <td class="tg-zsny">7</td>
    <td class="tg-zsny">M</td>
    <td class="tg-zsny">live, vanish</td>
    <td class="tg-zsny">know, imprison, keep, encounter, save</td>
    <td class="tg-zsny">0.286</td>
  </tr>
  <tr>
    <td class="tg-bbnx">Pascal</td>
    <td class="tg-zsny">5</td>
    <td class="tg-zsny">M</td>
    <td class="tg-zsny">rush, encounter, squeak</td>
    <td class="tg-zsny">explore, join, save</td>
    <td class="tg-zsny">0.500</td>
  </tr>
  <tr>
    <td class="tg-bbnx">Rapunzel</td>
    <td class="tg-zsny">4</td>
    <td class="tg-zsny">F</td>
    <td class="tg-zsny">like, explore, discover, join, denounce</td>
    <td class="tg-zsny">worry</td>
    <td class="tg-zsny">0.833</td>
  </tr>
  <tr>
    <td class="tg-bbnx">Cyrus</td>
    <td class="tg-zsny">2</td>
    <td class="tg-zsny">M</td>
    <td class="tg-zsny">decide, imprison</td>
    <td class="tg-zsny">denounce, sentence</td>
    <td class="tg-zsny">0.500</td>
  </tr>
  <tr>
    <td class="tg-bvxb"></td>
    <td class="tg-bvxb"></td>
    <td class="tg-bvxb"></td>
    <td class="tg-bvxb"></td>
    <td class="tg-bvxb"></td>
    <td class="tg-bvxb"></td>
  </tr>
  <tr>
    <td class="tg-veog">Human Process</td>
    <td class="tg-ojok"></td>
    <td class="tg-ojok"></td>
    <td class="tg-ojok"></td>
    <td class="tg-ojok"></td>
    <td class="tg-ojok"></td>
  </tr>
  <tr>
    <td class="tg-9ak0">Name</td>
    <td class="tg-9ak0">Mentions</td>
    <td class="tg-9ak0">Gender</td>
    <td class="tg-9ak0">Active</td>
    <td class="tg-9ak0">Passive</td>
    <td class="tg-9ak0">Activeness</td>
  </tr>
  <tr>
    <td class="tg-9ak0">Flynn Rider</td>
    <td class="tg-trlr">7</td>
    <td class="tg-trlr">M</td>
    <td class="tg-trlr">live, vanish</td>
    <td class="tg-trlr">know, imprison, keep, encounter, save</td>
    <td class="tg-trlr">0.286</td>
  </tr>
  <tr>
    <td class="tg-9ak0">Pascal</td>
    <td class="tg-trlr">5</td>
    <td class="tg-trlr">M</td>
    <td class="tg-2qwx"><span style="color:#FE0000">sense</span>, rush, encounter, squeak</td>
    <td class="tg-trlr">explore, join</td>
    <td class="tg-trlr">0.667</td>
  </tr>
  <tr>
    <td class="tg-9ak0">Rapunzel</td>
    <td class="tg-trlr">4</td>
    <td class="tg-trlr">F</td>
    <td class="tg-trlr">like, explore, discover, join, <span style="color:#FE0000">use</span>, <span style="color:#F56B00">save</span>, denounce</td>
    <td class="tg-trlr">worry</td>
    <td class="tg-trlr">0.875</td>
  </tr>
  <tr>
    <td class="tg-9ak0">Cyrus</td>
    <td class="tg-trlr">2</td>
    <td class="tg-trlr">M</td>
    <td class="tg-trlr">decide, imprison</td>
    <td class="tg-2qwx"><span style="color:#FE0000">consume</span>, denounce, sentence</td>
    <td class="tg-trlr">0.400</td>
  </tr>
</tbody>
</table>