<style type="text/css">
.tg  {border-collapse:collapse;border-color:#aabcfe;border-spacing:0;border-style:solid;border-width:1px;}
.tg td{background-color:#e8edff;border-color:#aabcfe;border-style:solid;border-width:0px;color:#669;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#b9c9fe;border-color:#aabcfe;border-style:solid;border-width:0px;color:#039;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-31ua{background-color:#ffcc67;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-2jtn{background-color:#ffffff;border-color:inherit;color:#343434;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-n5df{background-color:#ffffff;border-color:#000000;color:#343434;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-j45j{background-color:#FFF;border-color:#003532;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-kw6a{border-color:inherit;color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-soy6{background-color:#b9c9fe;border-color:inherit;font-style:italic;text-align:left;vertical-align:top}
.tg .tg-vta0{background-color:#ffcc67;border-color:inherit;color:#663234;font-style:italic;font-weight:bold;text-align:left;
  vertical-align:top}
.tg .tg-kwm3{background-color:#ffffff;border-color:inherit;color:#343434;font-weight:bold;text-align:center;vertical-align:middle}
.tg .tg-wfm2{background-color:#ffffff;border-color:inherit;color:#343434;text-align:center;vertical-align:middle}
.tg .tg-3toj{background-color:#b9c9fe;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-463u{border-color:#003532;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-evco{background-color:#FFF;border-color:#003532;text-align:center;vertical-align:middle}
.tg .tg-dm3r{border-color:#003532;text-align:center;vertical-align:middle}
.tg .tg-kipl{border-color:#003532;color:#F00;text-align:center;vertical-align:top}
.tg .tg-cqwb{background-color:#ffffff;border-color:inherit;color:#ffffff;text-align:left;vertical-align:top}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 791px">
<colgroup>
<col style="width: 161px">
<col style="width: 114px">
<col style="width: 94px">
<col style="width: 161px">
<col style="width: 172px">
<col style="width: 89px">
</colgroup>
<thead>
  <tr>
    <th class="tg-vta0">NLP Process</th>
    <th class="tg-31ua"></th>
    <th class="tg-31ua"></th>
    <th class="tg-31ua"></th>
    <th class="tg-31ua"></th>
    <th class="tg-31ua"></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-2jtn">Name</td>
    <td class="tg-2jtn">Mentions</td>
    <td class="tg-2jtn">Gender</td>
    <td class="tg-2jtn">Active</td>
    <td class="tg-2jtn">Passive</td>
    <td class="tg-n5df">Activeness</td>
  </tr>
  <tr>
    <td class="tg-kwm3">Flynn Rider</td>
    <td class="tg-wfm2">7</td>
    <td class="tg-wfm2">M</td>
    <td class="tg-wfm2">live, vanish</td>
    <td class="tg-wfm2">know, imprison, keep, encounter, save</td>
    <td class="tg-wfm2">0.286</td>
  </tr>
  <tr>
    <td class="tg-kwm3">Pascal</td>
    <td class="tg-wfm2">5</td>
    <td class="tg-wfm2">M</td>
    <td class="tg-wfm2">rush, encounter, squeak</td>
    <td class="tg-wfm2">explore, join, save</td>
    <td class="tg-wfm2">0.500</td>
  </tr>
  <tr>
    <td class="tg-kwm3">Rapunzel</td>
    <td class="tg-wfm2">4</td>
    <td class="tg-wfm2">F</td>
    <td class="tg-wfm2">like, explore, discover, join, denounce</td>
    <td class="tg-wfm2">worry</td>
    <td class="tg-wfm2">0.833</td>
  </tr>
  <tr>
    <td class="tg-kwm3">Cyrus</td>
    <td class="tg-wfm2">2</td>
    <td class="tg-wfm2">M</td>
    <td class="tg-wfm2">decide, imprison</td>
    <td class="tg-wfm2">denounce, sentence</td>
    <td class="tg-wfm2">0.500</td>
  </tr>
  <tr>
    <td class="tg-cqwb"></td>
    <td class="tg-cqwb"></td>
    <td class="tg-cqwb"></td>
    <td class="tg-cqwb"></td>
    <td class="tg-cqwb"></td>
    <td class="tg-cqwb"></td>
  </tr>
  <tr>
    <th class="tg-f8tv">Human Process</th>
    <th class="tg-0pky"></th>
    <th class="tg-0pky"></th>
    <th class="tg-0pky"></th>
    <th class="tg-0pky"></th>
    <th class="tg-0pky"></th>
  </tr>
  <tr>
    <td class="tg-463u">Name</td>
    <td class="tg-463u">Mentions</td>
    <td class="tg-463u">Gender</td>
    <td class="tg-463u">Active</td>
    <td class="tg-463u">Passive</td>
    <td class="tg-463u">Activeness</td>
  </tr>
  <tr>
    <td class="tg-463u">Flynn Rider</td>
    <td class="tg-dm3r">7</td>
    <td class="tg-dm3r">M</td>
    <td class="tg-dm3r">live, vanish</td>
    <td class="tg-dm3r">know, imprison, keep, encounter, save</td>
    <td class="tg-dm3r">0.286</td>
  </tr>
  <tr>
    <td class="tg-463u">Pascal</td>
    <td class="tg-dm3r">5</td>
    <td class="tg-dm3r">M</td>
    <td class="tg-kipl"><span style="color:#F00">sense</span><span style="color:#669">, rush, encounter, squeak</span></td>
    <td class="tg-dm3r">explore, join</td>
    <td class="tg-dm3r">0.667</td>
  </tr>
  <tr>
    <td class="tg-463u">Rapunzel</td>
    <td class="tg-dm3r">4</td>
    <td class="tg-dm3r">F</td>
    <td class="tg-dm3r">like, explore, discover, join, <span style="color:#F00">use</span>, <span style="color:#F60">save</span>, denounce</td>
    <td class="tg-dm3r">worry</td>
    <td class="tg-dm3r">0.875</td>
  </tr>
  <tr>
    <td class="tg-463u">Cyrus</td>
    <td class="tg-dm3r">2</td>
    <td class="tg-dm3r">M</td>
    <td class="tg-dm3r">decide, imprison</td>
    <td class="tg-kipl"><span style="color:#F00">consume</span><span style="color:#669">, denounce, sentence</span></td>
    <td class="tg-dm3r">0.400</td>
  </tr>
</tbody>
</table>