<table style="height: 442px; width: 974px; border-style: solid; margin-left: auto; margin-right: auto;" width="974">
<tbody>
<tr>
<td width="108"><em>NLP Process</em></td>
<td width="64">&nbsp;</td>
<td width="64">&nbsp;</td>
<td width="344">&nbsp;</td>
<td width="281">&nbsp;</td>
<td width="113">&nbsp;</td>
</tr>
<tr>
<th style="border-style: none;"><strong>Name</strong></th>
<th style="border-style: none;"><strong>Mentions</strong></th>
<th style="border-style: none;"><strong>Gender</strong></th>
<th style="border-style: none;"><strong>Active</strong></th>
<th style="border-style: none;"><strong>Passive</strong></th>
<th style="border-style: none;"><strong>Activeness score</strong></th>
</tr>
<tr>
<td>Flynn Rider</td>
<td>7</td>
<td>M</td>
<td>['live', 'vanish']</td>
<td>['know', 'imprison', 'keep', 'encounter', 'save']</td>
<td>0.286</td>
</tr>
<tr>
<td>Pascal</td>
<td>5</td>
<td>M</td>
<td>['rush+prep', 'encounter', 'squeak+prep']</td>
<td>['explore', 'join', 'save']</td>
<td>0.500</td>
</tr>
<tr>
<td>Rapunzel</td>
<td>4</td>
<td>F</td>
<td>['like', 'explore', 'discover', 'join', 'denounce']</td>
<td>['worry']</td>
<td>0.833</td>
</tr>
<tr>
<td>Cyrus</td>
<td>2</td>
<td>M</td>
<td>['decide', 'imprison']</td>
<td>['denounce', 'sentence']</td>
<td>0.500</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><em>Human Process</em></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<th style="border-style: none;"><strong>Name</strong></th>
<th style="border-style: none;"><strong>Mentions</strong></th>
<th style="border-style: none;"><strong>Gender</strong></th>
<th style="border-style: none;"><strong>Active</strong></th>
<th style="border-style: none;"><strong>Passive</strong></th>
<th style="border-style: none;"><strong>Activeness score</strong></th>
</tr>
<tr>
<td>Flynn Rider</td>
<td>7</td>
<td>M</td>
<td>['live', 'vanish']</td>
<td>['know', 'imprison', 'keep', 'encounter', 'save']</td>
<td>0.286</td>
</tr>
<tr>
<td>Pascal</td>
<td>5</td>
<td>M</td>
<td>['<span style="color: #ff0000;">sense</span>','rush+prep', 'encounter', 'squeak+prep']</td>
<td>['explore', 'join']</td>
<td>0.667</td>
</tr>
<tr>
<td>Rapunzel</td>
<td>4</td>
<td>F</td>
<td>['like', 'explore', 'discover', 'join','<span style="color: #ff0000;">use</span>','<span style="color: #ff6600;">save</span>', 'denounce']</td>
<td>['worry']</td>
<td>0.875</td>
</tr>
<tr>
<td>Cyrus</td>
<td>2</td>
<td>M</td>
<td>['decide', 'imprison']</td>
<td>['<span style="color: #ff0000;">consume</span>','denounce', 'sentence']</td>
<td>0.400</td>
</tr>
</tbody>
</table>
