<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-v32y{background-color:#ffffff;border-color:#ffffff;color:#96fffb;font-size:15px;font-weight:bold;text-align:center;
  vertical-align:top}
.tg .tg-oe15{background-color:#ffffff;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-tkd6{background-color:#ffffff;border-color:#ffffff;color:#96FFFB;font-size:15px;font-weight:bold;text-align:center;
  vertical-align:top}
.tg .tg-33ez{background-color:#bffffd;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-wk8r{background-color:#ffffff;border-color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-y0lf{background-color:#fffc9e;border-color:#ffffff;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-0hhp{background-color:#ffffff;border-color:#ffffff;font-size:16px;text-align:center;vertical-align:top}
.tg .tg-e166{background-color:#fffc9e;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-i0w3{background-color:#bffffd;border-color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-8foh{background-color:#ffccc9;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-f8tr{background-color:#ffccc9;border-color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-26g6{background-color:#ffffff;border-color:#ffffff;color:#ffbdb9;font-size:15px;font-weight:bold;text-align:center;
  vertical-align:top}
.tg .tg-zqx2{background-color:#ffffff;border-color:#ffffff;color:#FFBDB9;font-size:15px;font-weight:bold;text-align:center;
  vertical-align:top}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 903px"; align="center">
<colgroup>
<col style="width: 88px">
<col style="width: 60px">
<col style="width: 50px">
<col style="width: 22px">
<col style="width: 88px">
<col style="width: 60px">
<col style="width: 50px">
<col style="width: 55px">
<col style="width: 88px">
<col style="width: 60px">
<col style="width: 50px">
<col style="width: 22px">
<col style="width: 88px">
<col style="width: 60px">
<col style="width: 50px">
</colgroup>
<thead>
  <tr>
    <th class="tg-0hhp" colspan="7">Clustering of <span style="font-weight:bold">active </span>actions of movie characters</th>
    <th class="tg-oe15"></th>
    <th class="tg-0hhp" colspan="7">Clustering of <span style="font-weight:bold">passive </span>actions of movie characters</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-y0lf">Cluster</td>
    <td class="tg-y0lf"># verbs</td>
    <td class="tg-y0lf">score</td>
    <td class="tg-e166"></td>
    <td class="tg-y0lf">Cluster</td>
    <td class="tg-y0lf"># verbs</td>
    <td class="tg-y0lf">score</td>
    <td class="tg-oe15"></td>
    <td class="tg-y0lf">Cluster</td>
    <td class="tg-y0lf"># verbs</td>
    <td class="tg-y0lf">score</td>
    <td class="tg-e166"></td>
    <td class="tg-y0lf">Cluster</td>
    <td class="tg-y0lf"># verbs</td>
    <td class="tg-y0lf">score</td>
  </tr>
  <tr>
    <td class="tg-33ez">Violence</td>
    <td class="tg-i0w3">10</td>
    <td class="tg-i0w3">468</td>
    <td class="tg-oe15"></td>
    <td class="tg-oe15">Violence</td>
    <td class="tg-wk8r">7</td>
    <td class="tg-wk8r">291</td>
    <td class="tg-oe15"></td>
    <td class="tg-33ez">Violence</td>
    <td class="tg-i0w3">30</td>
    <td class="tg-i0w3">1527</td>
    <td class="tg-oe15"></td>
    <td class="tg-oe15">Violence</td>
    <td class="tg-wk8r">27</td>
    <td class="tg-wk8r">1293</td>
  </tr>
  <tr>
    <td class="tg-oe15">Love</td>
    <td class="tg-wk8r">3</td>
    <td class="tg-wk8r">136</td>
    <td class="tg-oe15"></td>
    <td class="tg-8foh">Love</td>
    <td class="tg-f8tr">6</td>
    <td class="tg-f8tr">323</td>
    <td class="tg-oe15"></td>
    <td class="tg-oe15">Love</td>
    <td class="tg-wk8r">6</td>
    <td class="tg-wk8r">140</td>
    <td class="tg-oe15"></td>
    <td class="tg-8foh">Love</td>
    <td class="tg-f8tr">7</td>
    <td class="tg-f8tr">338</td>
  </tr>
  <tr>
    <td class="tg-33ez">Power</td>
    <td class="tg-i0w3">15</td>
    <td class="tg-i0w3">732</td>
    <td class="tg-oe15"></td>
    <td class="tg-oe15">Power</td>
    <td class="tg-wk8r">10</td>
    <td class="tg-wk8r">534</td>
    <td class="tg-oe15"></td>
    <td class="tg-33ez">Power</td>
    <td class="tg-i0w3">17</td>
    <td class="tg-i0w3">935</td>
    <td class="tg-oe15"></td>
    <td class="tg-oe15">Power</td>
    <td class="tg-wk8r">16</td>
    <td class="tg-wk8r">791</td>
  </tr>
  <tr>
    <td class="tg-v32y" colspan="3">Male</td>
    <td class="tg-oe15"></td>
    <td class="tg-26g6" colspan="3">Female</td>
    <td class="tg-oe15"></td>
    <td class="tg-tkd6" colspan="3">Male</td>
    <td class="tg-oe15"></td>
    <td class="tg-zqx2" colspan="3">Female</td>
  </tr>
</tbody>
</table>